[submodule "match/support"]
	path = match/support
	url = https://github.com/kwatme/support
[submodule "match/plot"]
	path = match/plot
	url = https://github.com/kwatme/plot
[submodule "match/information"]
	path = match/information
	url = https://github.com/kwatme/information
